*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

#homepage {
    text-align: center;
    margin: auto;
    width: 45%;
    padding-top: 30px;
}

#homepage h1 {
    padding-bottom: 15px;
}

#homepage p {
    padding-bottom: 15px;
}

button {
    background-color: rgb(76, 48, 114);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.question, #final-score, #highscores {
    margin: auto;
    width: 45%;
    padding-top: 30px;
    text-align: left;
}

#question-1, #question-2, #question-3, #question-4, #question-5, #final-score, #result, #highscores {
    display: none;
}

ul li {
    list-style-type: none;
    padding-top: 5px;
}

#result {
    font-style: italic;
    font-size: 20px;
    color: grey;
    margin: auto;
    margin-top: 15px;
    width: 45%;
    padding-top: 10px;
    text-align: left;
    border-top: 2px solid grey;
}

